@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');


body{
    font-size: 16px !important;
    color: #EFEFEF !important;
    font-family: 'Roboto', serif !important;
    font-weight: 100;
    background-color: #363c46; 
}

h1, h2, h3, h4, h5, p, a{
}
a{
    text-decoration: none;
    color: #616161;
}


.wrapper{
}

/* ------------ TOPBAR -----------*/
.topbar {
    box-shadow:  0 0 10px #282f38;;
    background: -webkit-linear-gradient(#1068ad 0%, #0e63a7 100%);
    background: -moz-linear-gradient(#1068ad 0%, #0e63a7 100%);
    background: -o-linear-gradient(#1068ad 0%, #0e63a7 100%);
    background: linear-gradient(#1068ad 0%, #0e63a7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
    border-bottom: 3px solid #094C80;
}

.topbar h1{
    line-height: 60px;
    font-size: 18px;
}

.main_logo{ 
}
.menu .menuitem {
    font-size: 14px;
    color: #efefef;
}

/* ------------ LEFTBAR -----------*/
.leftbar{
    background: #3E454F;
    border-right: 0px solid #4d6086;
}

.menu .menuitem {
    font-size: 14px;
    padding: 3px 8px;
}

.menu {
}
.menu .menu .menu {
    font-size: 12px;
}

.menuitem {
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
    cursor: pointer;
    border-radius: 2px;
}
.menuitem:hover {
    background: #4d5563;
    color: #e8e8e8;
}
.menuitem::before{
   /* Content: "⚊ ";*/
}
 .selected {
    background: #4C94E0;
    color: #fff;
    font-weight: 600;
}
.selected:hover {
    background: #3683D4;
    color: #fff;
}

/* ------------ RIGHTBAR -----------*/
.rightbar {
    background: #363c46;
    border-left: 1px solid #2e3b4e;
    overflow-x: scroll;
    width: calc(80% - 380px);
    box-shadow: 0 0 5px #131b23;
}


/* ------------ FOOTER -----------*/
.footer {
    background: -webkit-linear-gradient(#1068ad 0%, #0e63a7 100%);
    background: -moz-linear-gradient(#1068ad 0%, #0e63a7 100%);
    background: -o-linear-gradient(#1068ad 0%, #0e63a7 100%);
    background: linear-gradient(#1068ad 0%, #0e63a7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
    box-shadow: 0 0 10px #282f38;
    border-top: 3px solid #094c80;
}
.footer a{
    color: #fff;
}

/* ------------ SEARCH -----------*/
.searchbox {
    border: 1px solid #343942;
    border-radius: 4px;
    color: #616161;
    background-color: #363c46 !important;
    box-shadow: 0 0 5px #33393C inset !important;
    padding: 6px;
    width: calc(100% - 12px) !important;
    color: #dcdcdc;
}

.btn_search{    
    border: 0px solid #2A2E32;
    background: #094c80;
    color: #ffffff;
    margin-left: -63px;
    border-radius: 2px;
}
.btn_search:hover {
    background: #0f66aa;
    border: 0px solid #BFC4CA;
    color: #fff;
}
.btn_search:active {
    box-shadow: 0 0 5px #33393C inset !important;
    
}

.search_result {
    background: #363c46;
    text-decoration: none !important;
    color: #efefea;
}

.search_result:hover {
    background: #454c58;
}



/* ---------- CONTENT ELEMENTS ----------- */
hr{
    background-color: #454a4f;
    color: #454a4f;
    border: 0;
    height: 1px;
    background-image: none;
    margin-left: -20px;
    margin-right: -20px;
}

/* ------ Edit-Controls ------ */
.edit_btn {
    box-shadow: 0px 1px 1px rgb(9, 76, 128);
    background: #0e63a7;
    color: #ffffff;
    border-radius: 2px;
}.edit_btn:hover {
    background: #1068ad;
}
.edit_btn:active, .btn_search:active {
    box-shadow: 0 0 5px #363c46 inset;
    background: #094c80;
    border-radius: 3px;
}

a.edit_mnu_btn {
    color: #D8D8D8;
}

.menu:hover .edit_mnu_btn{
    color: #9A9A9A;
}

.btn_edit:hover{
    color: #39C0E0  !important;
}
.btn_rename:hover{
}

.btn_delete:hover{
    color: #FF5400 !important;    
}
.btn_add:hover {
    color: #2EC581 !important;
}
a.edit_mnu_btn.btn_add {
    font-size: 35px;
}
.btn_add {
}


.wrapper.dialog {
    background: #363c46 !important;
}
.wrapper.dialog h1{
    color: #fff;
}
.wrapper .wrapper {
    box-shadow: 0 0 0px #f9f9f9 !important;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: #ffffff;
}
.mobile_menu{
    border: 0px solid;
}
.mobile_menu:hover {
    background: #094d81;
    border: 0px solid #DAE0E7;
}

@media screen and (max-width: 450px){
    .edit_btn {
        padding: 5px !important;
    }
    .rightbar {
    width: calc(100% - 40px) !important;
}
}