body{
    font-size: 14px;
    color: #616161;
    font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
    background: #F9F9F9;    
}

h1, h2, h3, h4, h5, p, a{
}
a{
    text-decoration: none;
    color: #616161;
}

.wrapper{
}

/* ------------ TOPBAR -----------*/
.topbar{
    box-shadow: 0 0 5px #D4D4D4;
    background: #fff;
    border-bottom: 1px solid #DAE0E7;
}

.topbar h1{
    line-height: 60px;
}

.main_logo{ 
}

/* ------------ LEFTBAR -----------*/
.leftbar{
    background: #F9F9F9;
    border-right: 1px solid #DAE0E7;
}

.menu .menuitem {
    font-size: 14px;
}

.menu {
}
.menu .menu .menu {
    font-size: 12px;
}

.menuitem {
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
    cursor: pointer;
}
.menuitem:hover {
    background: #f3f3f3;
    color: #333;
}
.menuitem::before{
   /* Content: "⚊ ";*/
}

 a.selected > div {
    background: #4C94E0;
    color: #fff;
}
.selected:hover div {
    background: #3683D4;
    color: #fff;
}
.selected:active div.edit_btn {
    color: #61616a !important;
}

/* ------------ RIGHTBAR -----------*/
.rightbar{
    background: #fff;
    border-right: 1px solid #DAE0E7;
    overflow-x: scroll; /*overwrites the custom style, where hor.scrolling is deactivated */
    width: calc(80% - 380px); /*adds a space on right site of the content.*/
}


/* ------------ FOOTER -----------*/
.footer {
    background: #F9F9F9;
    box-shadow: 0 0 5px #D4D4D4;
    border-top: 1px solid #DAE0E7;
}


/* ------------ SEARCH -----------*/
.searchbox{
    border: 1px solid #DAE0E7;
    border-radius: 4px;
    color: #616161;
}





.search_result {
    background: #fff;
    text-decoration: none !important;
}

.search_result:hover {
    background: #f1f1f1;
}


/* ---------- CONTENT ELEMENTS ----------- */
hr{
    background-color: #DAE0E7; 
    color: #DAE0E7; 
    border: 0;
    height: 1px;
    background-image: none;
    margin-left: -20px;
    margin-right: -20px;
}


/* ------ Edit-Controls ------ */
a.edit_mnu_btn {
    color: #D8D8D8;
}

.menu:hover .edit_mnu_btn{
    color: #9A9A9A;
}
.menu:hover .edit_mnu_btn.btn_edit.selected, .menu:hover .btn_edit {
    color: #95d49a;
}
.menu:hover .edit_mnu_btn.btn_delete.selected, .menu:hover .btn_delete  {
    color: #ffa8ac;
}



.btn_add:hover {
    background: #f1f1f1;
    color: #2EC581 !important;
}

.btn_add {
    width: 100%;
    font-size: 34px !important;
}



